
mat-toolbar {
    background: #111727fa;
    color: white;
    justify-content: center;
    letter-spacing: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }