@import '@angular/material/theming';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);

@include angular-material-typography($custom-typography);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // font-family: 'Roboto', sans-serif;
  background-color: #1A4B5F;
  display: flex;
  flex-direction: column;
  button {
    cursor: pointer;
  }
  .submit-button-container {
    display: flex;
    justify-content: center;

 
}
}


$dark-blue: #2B3E50; // Dark Blue
$charcoal-gray: #333F48; // Charcoal Gray
$vibrant-red: #FF4136; // Vibrant Red (Accent)
$silver: #C0C0C0; // Silver (Background)
$light-gray: #D3D3D3; // Light Gray (Foreground)
$electric-blue: #0074D9; // Electric Blue (Secondary/Accent)

// Custom palette for primary color (Dark Blue / Charcoal Gray)
$custom-primary: (
  50: $electric-blue,
  // Repeating Electric Blue for lighter hues
  100: $electric-blue,
  600: $dark-blue,
  // Primary color for app
  200: $electric-blue,
  // Lighter color for secondary/accent
  300: $electric-blue,
  400: $electric-blue,
  500: $dark-blue,
  // Dark Blue as the main primary color
  700: $dark-blue,
  800: $dark-blue,
  900: $dark-blue,
  A100: $vibrant-red,
  // Using Vibrant Red for accent hues
  A200: $vibrant-red,
  A400: $vibrant-red,
  A700: $vibrant-red,
  contrast: (600: white, // Contrast color for primary
    200: $dark-primary-text, // Contrast color for secondary
    50: $dark-primary-text,
    100: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: white,
    700: white,
    800: white,
    900: white,
    A100: $dark-primary-text,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Custom background palette
$custom-background: (
  background: $silver,
  // Silver for main background
  foreground: $light-gray // Light gray for foreground elements
);

// Material theme palettes
$app-primary: mat-palette($custom-primary, 600);
$app-accent: mat-palette($custom-primary, 200);

// Define the theme
$app-theme: mat-light-theme((color: (primary: $app-primary,
        accent: $app-accent,
      ),
      background: $custom-background ));

// Include the theme
@include angular-material-theme($app-theme);