@import '@angular/material/theming';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Raleway'
);

@include angular-material-typography($custom-typography);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1A4B5F;
  display: flex;
  flex-direction: column;
  button {
    cursor: pointer;
  }
  .submit-button-container {
    display: flex;
    justify-content: center;

 
}
}
