@import '../../../styles.scss';


.dashboard-table-cell {
    color: whitesmoke;
}

.mat-mdc-header-cell {
    border-bottom-color: #94c1c4;
}

.mat-mdc-cell {
    border-bottom-color: #94c1c417;
}

.dashboard-table-header {
    color: #B5C7C8;
    font-weight: 800;
}

table {
    width: 100%;
    background: #11172750;
    border-radius: 8px;
}

.mat-cell {
    color: #b92f2f;
    padding: 8px 16px;
}

.mat-header-cell,
.mat-cell {
    color: map-get($app-accent, 300);
    padding: 8px 16px;
}

.data-table {
    padding-top: 30px;

    mat-card {
        margin: 0px 20px;
        background: #111727cc;
    }

    table {
        width: 90%;
        background: #11172750;
        border-radius: 8px;
    }


    .mat-header-cell {
        font-weight: bold;
    }

    .mat-row:hover {
        background-color: #f5f5f5;
    }

    .mat-table {
        padding: 16px;
    }
}

